:root{
  --black:rgb(60,56,54);
  --grey:rgb(168, 153, 132);
  --red:rgb(204,36,29);
  --orange:rgb(254, 128, 25);
  --yellow:rgb(215,153,33);
  --blue:rgb(69,133,136);
  --green:rgb(142,192,124);
  --white:rgb(235, 219, 178);
}

body{
  font-family: 'Courier New', Courier, monospace;
}

.background{
  background-color: var(--black);
}

.top{
  display:flex;
  justify-content: left;
  border-bottom: var(--orange) 2px solid;
}


.main{
  margin-top: 20px;
  display:flex;
  justify-content: space-evenly;
  color: var(--white);
  /* background-color: var(--red); */
}
.left{
  flex-grow: 1; 
  flex-basis: 33%;
  text-align: center;
  justify-content: center;
}
.center{

  flex-grow: 1;
  flex-basis: 33%;
  text-align: center;
  justify-content: center;
}
.right{
  flex-grow: 1;
  flex-basis: 33%;
  text-align: center;
  justify-content: center;
}

.altcolor{
  color: var(--yellow);
}


.button {
  appearance: button;
  background-color: var(--black);
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: var(--white) 4px 4px 0 0,var(--black) 4px 4px 0 1px;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus {
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button:not([disabled]):active {
  box-shadow: var(--white) 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    padding: 12px 50px;
  }
}